@model ViewModelBuildSheets
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        <strong>@Model.BuildSheets.ProductName</strong> Build Sheets<br />
                        Product Owner: @Model.BuildSheets.ProductOwner<br />
                        Product Launch date: @Model.BuildSheets.ProductLaunchDate
                    </p>
                    <br />
                    <br />
                    <p>Provisoining Package: @Model.BuildSheets.ProvisioningPackage</p>
                </div>
                <div class="col-xs-6">
                    <img src="~/images/geotabLogo.jpg" class="img-responsive" />
                </div>
            </div>
            <hr />
        </div>
        <div class="col-xs-12">
            <div class="text-center">
                <h1><u>@Model.BuildSheets.ProductName</u></h1>
                <p>@Model.BuildSheets.Description</p>
                <h3>Product Build Sheet</h3>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">Product Status:</div>
                <div class="col-xs-7">
                    <p>
                        &#9723; Preliminary
                        <br>&#10004; Release
                        <br>&#9723; Change
                    </p>
                </div>
                <div class="col-xs-3">
                    <b>Rev:</b>
                    <span>@Model.BuildSheets.Revision</span>
                    <br>
                    <b>Updated By:</b>
                    <span>@Model.BuildSheets.UpdatedBy</span>
                    <br>
                    <b>Date:</b>
                    <span>@Model.BuildSheets.ProductUpdatedOn</span>
                    <br>
                    <b>ECO ID:</b>
                    <span>@Model.BuildSheets.ECOId</span>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <td>
                <table class="table table-sm table-bordered">
                    <tr>
                        <td>
                            <h4>Internal Sub Assembly Boards:</h4>
                            <table class="table borderless">
                                <tr>
                                    @foreach (var mode in Model.BuildSheets.BuildSheetsInternalSubAssemblyBoard)
                                    {
                                        <td>
                                            BOM Name: @mode.InternalSubAssemblyBoard.Name
                                        </td>
                                        <td>Rev: @mode.InternalSubAssemblyBoard.Rev</td>
                                    }
                                </tr>
                            </table>
                            <h4>Base Board:</h4>
                            <table class="table borderless">
                                <tr>
                                    @foreach (var baseBoard in Model.BuildSheets.BaseBoards)
                                    {
                                        <td>BOM Name: @baseBoard.BaseBoard.Name</td>
                                        <td>Rev:@baseBoard.BaseBoard.Rev</td>
                                    }
                                </tr>
                            </table>
                            <h4>Sub Board:</h4>
                            <table class="table borderless">
                                <tr>
                                    @foreach (var subBoard in Model.BuildSheets.SubBoards)
                                    {
                                        <td>BOM Name: @subBoard.SubBoard.Name</td>
                                        <td>Rev: @subBoard.SubBoard.Rev</td>
                                    }
                                </tr>
                            </table>
                            <br />
                            <h4>Other Hardware:</h4>
                            <table class="table borderless">
                                <tr>
                                    <td>1</td>
                                    <td>HDW-GO7LP</td>
                                    <td>Rev 1</td>
                                    <td>Lightpipe</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>HDW-GO7LP</td>
                                    <td>Rev 1</td>
                                    <td>Lightpipe</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>HDW-GO7LP</td>
                                    <td>Rev 1</td>
                                    <td>Lightpipe</td>
                                </tr>
                            </table>
                            <h4>Inserts:</h4>
                            <table class="table borderless">
                                <tr>
                                <tr>
                                    <td>1</td>
                                    <td>PAC-INSUNI05</td>
                                    <td>Rev 1</td>
                                    <td>Lightpipe</td>
                                </tr>
                    </tr>
                </table>
                <h4>Lables:</h4>
                <table class="table borderless">
                    <tr>
                    <tr>
                        <td>1</td>
                        <td>PAC-INSUNI05</td>
                        <td>Rev 1</td>
                        <td>Lightpipe</td>
                    </tr>
                    </tr>
                </table>
                <h4>Packaging:</h4>
                <table class="table borderless">
                    <tr>
                    <tr>
                        <td>1</td>
                        <td>PAC-INSUNI05</td>
                        <td>Rev 1</td>
                        <td>Lightpipe</td>
                    </tr>
                    </tr>
                </table>
            </td>            <td>
                <h4>Support Document:</h4>
                <table class="table borderless">
                    @foreach (var document in Model.BuildSheets.Documents)
                    {
                        <tr>
                            <td><a href="@document.Document.URL" target="_blank">@document.Document.Name</a></td>
                            <td>@document.Document.Rev - @document.Document.RevDate</td>
                        </tr>
                    }
                </table>
                <h4>APN:</h4>
                <table class="table borderless">
                    <tr>
                        <td>@Model.BuildSheets.APN</td>
                    </tr>
                </table>
                <h4>Customer Gateway:</h4>
                <table class="table borderless">
                    <tr>
                        <td>@Model.BuildSheets.CustomerGateway</td>
                    </tr>
                </table>
                <h4>Work Instructions:</h4>
                <table class="table borderless">
                    @foreach (var workInstruction in Model.BuildSheets.WorkInstructions)
                    {
                        <tr>
                            <td><a href="@workInstruction.WorkInstruction.URL" target="_blank">@workInstruction.WorkInstruction.Name</a></td>
                            <td>@workInstruction.WorkInstruction.Rev</td>
                        </tr>
                    }
                </table>
                <h4>Geotab Assembly Drawings:</h4>
                <table class="table borderless">
                    @foreach (var geotabAssemblyDrawing in Model.BuildSheets.GeotabAssemblyDrawings)
                    {
                        <tr>
                            <td><a href="@geotabAssemblyDrawing.GeotabAssemblyDrawing.URL" target="_blank">@geotabAssemblyDrawing.GeotabAssemblyDrawing.Name</a></td>
                            <td>@geotabAssemblyDrawing.GeotabAssemblyDrawing.Rev</td>
                        </tr>
                    }
                </table>
                <h4>Contract Manufacture Assembly Drawings</h4>
                <table class="table borderless">
                    @foreach (var contractManufactureAssemblyDrawing in Model.BuildSheets.ContractManufactureAssemblyDrawings)
                    {
                        <tr>
                            <td><a href="@contractManufactureAssemblyDrawing.ContractManufactureAssemblyDrawing.URL" target="_blank">@contractManufactureAssemblyDrawing.ContractManufactureAssemblyDrawing.Name</a></td>
                            <td>@contractManufactureAssemblyDrawing.ContractManufactureAssemblyDrawing.Rev</td>
                        </tr>
                    }
                </table>
                <h4>Tester Software:</h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Product Codes</td>
                        @foreach (var testerSoftware in Model.BuildSheets.TesterSoftwares)
                        {
                            <td><a href="@testerSoftware.TesterSoftware.ProductCodeURL" target="_blank">@testerSoftware.TesterSoftware.ProductCode</a></td>
                        }
                    </tr>
                    <tr>
                        <td>Version</td>
                        @foreach (var testerSoftware in Model.BuildSheets.TesterSoftwares)
                        {
                            <td><a href="@testerSoftware.TesterSoftware.TesterVersionURL" target="_blank">@testerSoftware.TesterSoftware.TesterVersion</a></td>
                        }
                    </tr>               
                </table>
                <h4>Certification label requirements:</h4>
                <table class="table borderless">
                    <tr>
                        <td>Serial, Barcode, SKU, contains FCC/IC</td>
                        <td>(Side A)</td>
                    </tr>
                    <tr>
                        <td>Serial, Barcode, SKU, contains FCC/IC</td>
                        <td>(Side A)</td>
                    </tr>
                    <tr>
                        <td>Serial, Barcode, SKU, contains FCC/IC</td>
                        <td>(Side A)</td>
                    </tr>
                </table>
                <h4>Device Firmware:</h4>
                <table class="table borderless">
                    <tr>
                        <td>120.0.23</td>
                    </tr>
                </table>
                <h4>Modem:</h4>
                <table class="table borderless">
                    <tr>
                        <td>H/W: SARA U201 (Revision 1.0)</td>
                    </tr>
                    <tr>
                        <td>F/W: 23.60</td>
                    </tr>
                    <tr>
                        <td>IMEI Range: Leave as is / Do not program</td>
                    </tr>
                </table>
            </td>            </table>
        </div>
    </div>
</div><div>
    <a asp-controller="BuildSheets" asp-action="Index" asp-route-name="@Model.BuildSheets.ProductName">Back to List</a>
</div>