@model EditTesterParameter
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" />
            <div class="form-group">
                <label class="control-label">Parameter Name</label>
                @*<input asp-for="ParameterName" class="form-control noWhiteSpaces" />*@
                @*<span asp-validation-for="ParameterName" class="text-danger"></span>*@
                @if (ViewBag.DeviceParameterName != null)
                {
                    <select class="combobox form-control noWhiteSpaces" name="ParameterName" role="combobox">
                        @foreach (SelectListItem sli in ViewBag.DeviceParameterName)
                        {
                            <option value="@sli.Value">@sli.Text</option>
                        }
                    </select>
                }
                else if (ViewBag.FirmwareGatesName != null)
                {
                }
                else if (ViewBag.ModemIncludeList != null)
                {
                    <select class="combobox form-control noWhiteSpaces" name="ParameterName" role="combobox">
                        @foreach (SelectListItem sli in ViewBag.ModemIncludeList)
                        {
                            if (sli.Value == "1")
                            {
                                <option value="@sli.Value" selected>@sli.Text</option>
                            }
                            else
                            {
                                <option value="@sli.Value">@sli.Text</option>
                            }
                        }
                    </select>
                }
                else if(ViewBag.ModemExcludeList != null)
                {
                    <select class="combobox form-control noWhiteSpaces" name="ParameterName" role="combobox">
                        @foreach (SelectListItem sli in ViewBag.ModemExcludeList)
                        {
                            if (sli.Value == "1")
                            {
                                <option value="@sli.Value" selected>@sli.Text</option>
                            }
                            else
                            {
                                <option value="@sli.Value">@sli.Text</option>
                            }
                        }
                    </select>
                }

            </div>
            <div class="form-group">
                <label class="control-label">Parameter Value</label>
                <input asp-for="ParameterValue" class="form-control" />
                <span asp-validation-for="ParameterValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Main" asp-route-name="@ViewBag.DeviceName">Back to List</a>*@
    <a asp-controller="TesterParameters" asp-action="Details" asp-route-name="@ViewBag.DeviceName">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".noWhiteSpaces").on("keyup", function (e) {
            $(this).val($(this).val().toString().replace(" ", ""));
        });
        $(".noWhiteSpaces").on("keypress", function (event) {
            var regex = new RegExp("^[a-zA-Z]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key) && !this.value.length) {
                event.preventDefault();
                return false;
            }
            var regex1 = new RegExp("^[a-zA-Z0-9]+$");
            var key1 = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex1.test(key1)) {
                event.preventDefault();
                return false;
            }
        });
    </script>
    <script>
        $(".combobox").select2({
            tags: true
        });
    </script>
}