@model IEnumerable<TesterParameter>


@{
    ViewData["Title"] = "Main";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="TesterParameters" asp-action="Main" method="get" value=@ViewBag.SearchString>
    <div class="row">
        @*<div class="col-md-3">
                <input type="text" name="name" class="form-control" />
            </div>*@

        <div class="col-md-3">
            @*<input type="submit" value="Search" class="btn btn-info" />*@

            <a asp-controller="TesterParameters" asp-action="Create" class="btn btn-primary" style="margin-left: 15px;">Create</a>

            <a asp-controller="TesterParameters" asp-action="MassEditing" class="btn btn-warning" style="margin-left: 15px;">Mass Editing</a>
        </div>
        <br />
    </div>
    <div class="col-md-3">
        <div class="alert-danger">
            @if (ViewBag.ErrorMessage != null)
            {@ViewBag.ErrorMessage}
        </div>
    </div>
</form>
<h3>Search All</h3>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table" id="MainTableTP">
                    <thead>
                        <tr>
                            <th width="40%">
                                Device Name
                            </th>
                            <th width="40%">
                                Parameters
                            </th>
                            <th width="40%">
                                Revision
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var device in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="TesterParameters" asp-action="Details" asp-route-revision="@device.Revision" asp-route-name="@device.DeviceName">@device.DeviceName</a>
                                    </td>
                                    <td>
                                        @device.Parameter
                                    </td>
                                    <td>
                                        @device.Revision
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}