@model IEnumerable<ListOfDevices>
@{
    ViewData["Title"] = "MassEditing";
}


<h1>MassEditing</h1>
<form asp-action="MassEditing" id="formCreate">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <select id="ChangeTypeId" class="form-control" name="ChangeTypeId" asp-items="ViewBag.ChangeTypeId">
                    <option>@null</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 control-label">
            <label>Parameter:</label>
            @{
                foreach (var selectList in Model) //creates all <select> fields for the different Approvers Change Types
                {
                    <span class="hideSelect">
                        <select asp-items="selectList.Name" name="Parameter" id="@selectList.attr" class="form-control parameters"></select>
                    </span>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Parameter Value</label>
                <input type="text" class="form-control" name="ParameterValue" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>




@section Scripts {
    <script type="text/javascript">
        $('.hideSelect').hide(); //hides the approvers because no Change Type has been selected
        $("#ChangeTypeId").on("change", function () { //when the Change Type is selected
            var ChangeType = $(this).find(":selected").text(); //get the text of the selected option
            var SelectList = $(".parameters"); //gets the lists with the approvers class
            for (var i = 0; i < SelectList.length; i++) {
                if ($(SelectList[i]).attr("Id") == ChangeType) { //checks if the id of the list matches the change type selected, then
                    $(SelectList[i]).parent().show(); //shows the <span> that the <select> is inside of
                    $(SelectList[i]).attr("name", "param") //changes the name attribute to "UserRoleIds" -> this will be sent in the POST
                }
                else { //does the opposite of the above,
                    $(SelectList[i]).parent().hide(); //hides the <span>
                    $(SelectList[i]).val("").change(); //resets the option in the <select>
                    $(SelectList[i]).attr("name", ""); //removes the name UserRoleIds from the <select
                }
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#deviceList").change(function () {
                //var dID = $(this).val();
                $.post("LoadParameterList", {},
                    function (data) {
                        console.log(data);
                        var select = $("#ParameterList");
                        select.empty();
                        select.append($('<option/>', {
                            value: -1,
                            text: "Select a Parameter"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text,
                                group: itemData.Group
                            }));
                        });
                    });
            });
        });
    </script>

}
































@*@model IEnumerable<SelectListItem>
    @{
        ViewData["Title"] = "MassEditing";
    }

    <h1>MassEditing</h1>

    <div class="row">
        <div class="col-md-3">
            <select id="deviceList" class="combobox form-control noWhiteSpaces" name="ParameterName" role="combobox">
                <option value="-1">--Select Device--</option>
                @foreach (SelectListItem sli in Model)
                {
                    <option value="@sli.Value">@sli.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            @Html.DropDownList("ParameterID", Model, "Please select", new { @id = "ParameterList" });
            <select id="ParameterList" class="combobox form-control noWhiteSpaces" name="ParameterName" role="combobox"></select>
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#deviceList").change(function () {
                    //var dID = $(this).val();
                    $.post("LoadParameterList", { },
                        function (data) {
                            console.log(data);
                            var select = $("#ParameterList");
                            select.empty();
                            select.append($('<option/>', {
                                value: -1,
                                text: "Select a Parameter"
                            }));
                            $.each(data, function (index, itemData) {
                                select.append($('<option/>', {
                                    value: itemData.Value,
                                    text: itemData.Text,
                                    group: itemData.Group
                                }));
                            });
                        });
                });
            });
        </script>
    }*@